.size{
    resize: both;
}

.clientInformation{
    display: flex;
    flex-wrap: wrap;
    width: 360px;
    height: 400px;
    text-align: center;
    color: white;
    background-color: #26488C;
    border-radius: 5%;
    resize:both;
    overflow:scroll;
    box-shadow: 0px 10px 13px -7px #000000, 10px 7px 15px 0px #000000;
    margin-left:-10px;
}

.title{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 150px;
    margin-top: 20px;
}

.news{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 150px;
    margin-top: 20px;
}

.search{
    width:360px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    background-color: #5A86BF;
    border-radius: 10%;
    margin-left:22px;
    margin-top: 20px;
}