





.title {
text-align:center;
text-decoration:none;
}

.container {
  margin: 10px;
  border: 1px solid white;
  background-color: rgb(24, 24, 24);
  max-width: 350px;
  height: 500px;
  overflow: scroll;
  font-family: "Roboto", sans-serif;
  color: white;
  resize:vertical;
}

.article {
  margin-bottom: 3px;
  margin-left: 3px;
  border: 1px solid white;
  background: rgb(44, 44, 48);
}

.article a {
  text-decoration: none;
  color: grey;
}
