.forM{
    width:300px;
    margin-left:0;
    position:absolute;
    top:200px;
    color: white;
    
}

.loginForm{
    margin-top: 600px;
    margin-left: -30px;
    position:absolute;
    color: white;
    
    

}