.liste{
    list-style-type: none;
    background: linear-gradient(45deg, rgb(156,14,156),midnightblue);
    width:100%;
    height: 50px;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    position:static;
    padding:0;
margin:0;
}
.items{
    margin-right: 10px;
    color: #f1f1f1;
    cursor:pointer;
}

.button{
    border-radius: 5px;
    background: linear-gradient(45deg, #00ccff, #d400d4);
    box-shadow: 0 2px;
}
@media screen and (max-width: 500px){

    .liste{
        flex-direction: column;
        height: 200px;
    }
    .items:nth-child(1){
        border-top: 1px solid #fff;
        margin-top:50px;
    }
    .items{
        height: 50px;
        width: 100%;
        border-bottom: 1px solid #fff;
        line-height: 50px;
    }
    
}